.detail-list {
    display: flex;
    font-size: 14px;
    color: var(--text3);
    align-items: center;
    height: 24px;
    overflow: hidden;
    box-sizing: border-box;
}

.subtitle {
    position: relative;
    font-size: 14px;
    color: var(--text3);
    margin-right: 10px;
}

.video-desc-container .basic-desc-container {
    white-space: pre-line;
    letter-spacing: 0;
    color: #18191c;
    font-size: 15px;
    line-height: 24px;
    overflow: hidden;
    word-break: break-all;
    line-break: anywhere;
}

#title {
    display: flex;
    align-items: center;
}

#title #count {
    margin: 0px 30px 0px 6px;
    font-size: 13px;
    font-weight: 400;
    color: #9499a0;
}

#title h2 {
    margin: 0;
    color: #18191c;
    font-weight: 500;
    font-size: 20px;
}

#basic-desc-info {
    height: auto;
}

.avatar {
    width: 48px;
    height: 48px;
}

.content {
    font-size: 15px;
    height: 24px;
    color: #2c9cc8;
    display: inline;
}

.editer {
    height: 32px;
    outline: auto 0px;
    border: auto 0px;
    box-sizing: border-box;
    padding: 0 8px;
    font-size: 14px;
    line-height: 20px;
    min-height: 20px;
    overflow-y: auto;
    max-height: 100px;
}

.aires {
    height: 60px;
    /* width: 100ch;
    animation: typing 1s steps(20) infinite alternate-reverse; */
    outline: auto 0px;
    border: auto 0px;
    box-sizing: border-box;
    padding: 0 8px;
    font-size: 14px;
    line-height: 20px;
    min-height: 20px;
    overflow-y: auto;
    max-height: 100px;
}

.brt-root {
    position: relative;
}

.placeholder {
    position: absolute;
    left: 8px;
    top: 0;
    color: #9499a0;
    font-size: 14px;
    line-height: 20px;
    pointer-events: none;
}

#input {
    min-height: 32px;
    max-height: 100px;
    line-height: 32px;
    width: 100%;
    font-size: 14px;
    font-family: inherit;
    box-sizing: border-box;
    color: #18191C;
    background-color: transparent;
}

#body {
    width: 100%;
    transition: height 0.2s;
}

#comments {
    flex-shrink: 0;
    height: auto;
}

button {
    appearance: auto;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    margin: 0em;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
    border-image: initial;
}

#pub button {
    float: right;
    cursor: pointer;
    border-radius: 4px;
    outline: none;
    border: none;
    width: 8%;
    height: 100%;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #00a1d6;
    /* background-color: rgba(0,174,236, 0.5); */
}

#user-avatar img {
    max-width: 100px;
    /* 图片最大宽度 */
    max-height: 100px;
    /* 图片最大高度 */
    width: auto;
    /* 宽度自动 */
    height: auto;
    /* 高度自动 */
}

.comment-item {
    display: flex;
    /* 设置flex布局 */
    margin-bottom: 20px;
}

#user-avatar {
    margin-right: 10px;
    /* 根据需要调整间距 */
}

#main {
    flex-grow: 1;
    /* 如果需要，可以让#main占据剩余空间 */
}